$primary: rgb(123,55,123);
$primaryLight: rgb(139, 66, 139);
$secondary: rgb(194,120,194);
$background: rgb(36,31,41);
$backgroundDark: #211525;
$color: rgb(236,222,237);

// Nice red for a light them? #9b0450
